*{
    background-color: #0097b2;
    font-family: 'Montserrat', sans-serif;
    color: #f9d1c6;
    
}

.logo {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 2px;
    
  }
  
  